node_modules

/.cache
/build
.env
/.vercel
/.output

public/build
api/_build

# app specific exceptions
*.log
coverage/
env.sh
env.ps1
*firebase-adminsdk*
app/sessions/*

firebase-account-key.json

#misc
.DS_Store