export SESSION_SECRET="s3cret"
export FIREBASE_AUTH_EMULATOR_HOST="localhost:9099"
export FIRESTORE_EMULATOR_HOST="localhost:8080"

# Required for Firebase REST API sign-in
# Add this env variable to your deployment dashboard/server
export FIREBASE_WEB_API_KEY="YOUR_FIREBASE_API_KEY"

# Required for local production testing. Include your service account
# file contents as a JSON string for the env variable below. 
# You would add this env variable to your deployment dashboard/server
# FIREBASE_SERVICE_ACCOUNT_KEY=''